<Configuration>
	<General>
	    <AppTitle>Station Simulator</AppTitle>
		<WGT>
      <Use>false</Use>
			<IP>192.168.1.170</IP>
			<Port>3000</Port>
			<Addr>32</Addr>
		</WGT>

    <Station1Code>1</Station1Code>
    <Station2Code>2</Station2Code>
    <Station3Code>3</Station3Code>

    <MSR>
      <Use>true</Use>
      <Service>http://localhost:49954/LoyaltyService.svc</Service>
    </MSR>
		<Sound>true</Sound>
		<PPV1>360</PPV1>
		<PPV2>340</PPV2>
		<Prod1>Diesel</Prod1>
    <Prod1Code>103</Prod1Code>
		<Prod2>Regular</Prod2>
    <Prod2Code>102</Prod2Code>
		<FlowRate>40</FlowRate>
		<LimitText>LIMITS</LimitText>
		<PlateText>PLATE</PlateText>
		<Units>LTR</Units>
		<LimitPerVolText>L/Tnx</LimitPerVolText>
		<LimitPerMoneyText_EURO>&#8377;/Tnx</LimitPerMoneyText_EURO>
    <LimitPerMoneyText>Ft/Tnx</LimitPerMoneyText>
		<PumpAuthDelay>1500</PumpAuthDelay>
		<HOAuthDelay>2000</HOAuthDelay>
		<CPass>
      <Use>true</Use>
			<Server>http://cpass2ndauth.azurewebsites.net</Server>
			<Key1>Gg5lvEloTlZZcifbG7IjQ2DvMdWLnD1AQ0Ip7NPhXAHFkr8OFDNK0EnQVl5jz0194H_kL981GaAV5jLDGJkYJ_xuqrfXraLzzWlZXopItVRM6WrsmNLuDrc20i6Z05cQ45MF13FgtlPmKqvhoX808fyOMo61cxESO3iJam1KbQvNiHd7qQRtF870FglgYehJ1WbJkEg0-8ADWUPei6-o7Licwz5sYZrLuX82X7rtpLHtlR8TAInHwLdYfcXi6J8XBHC39yA4a-OHm7iwLmfcAnVa7q6HgvjszW_p44d2CVrjqYioTA7KO4jh8eEGN6AV</Key1>
			<Key>DcCBvanc6oGJyFDm_p0cipdIj8zsXVsByJzkrM3_ZLsJP6vojNn8rcmgXUMKXyuAhLzGzaZFbYgTtRpeC58Z6dg9tupgYI1TI01yyOYNkMTML0qoRd9Z6anD3cWfhDm19CUH0hBlZgNt2_V_nUhKTBW9rCwhcWvWJ8aYOXEjnXba4XgxsXnDzs76cUNF-jcPusSNjo6zHFV-B42EsTSt4vY9N8CKNPMyYoXzRWtTUlVqyj6Y8ixmEw-nfDCjCXGmjnN1LMNV_PatBHLQGc3tmLprpbxM4y-glkqHQwJIElFOBZ5MHvwqhv7zPspXGkcG</Key>
			<Retry>30</Retry>
		</CPass>
	</General>
	<Devices>
		<Device>
			<Enabled>true</Enabled>
			<CardNum>8000100002791113663</CardNum>
			<Limit>10</Limit>
			<Type>Volume</Type>
			<Plate>34ABC56</Plate>
			<Prod>Diesel</Prod>
			<CPass>false</CPass>
		</Device>
		<Device>
			<Enabled>true</Enabled>
			<CardNum>8012280004720003405</CardNum>
			<Limit>15</Limit>
			<Type>Money</Type>
			<Plate>92FGH87</Plate>
			<Prod>Regular</Prod>
			<CPass>false</CPass>
		</Device>
		<Device>
			<Enabled>true</Enabled>
			<CardNum>8012281007771122400</CardNum>
			<Limit>1000</Limit>
			<Type>Money</Type>
			<Plate>92FGH87</Plate>
			<Prod>Diesel</Prod>
			<CPass>false</CPass>
		</Device>
		
		
		
		<Device>
			<Enabled>true</Enabled>
			<CardNum>7085011002002210658</CardNum>
			<Limit>1000</Limit>
			<Type>Money</Type>
			<Plate>62SGH57</Plate>
			<Prod>Diesel</Prod>
			<CPass>true</CPass>
		</Device>
			
				
		<Device>
			<Enabled>true</Enabled>
			<CardNum>7636F8C1418C4500</CardNum>
			<Limit>1000</Limit>
			<Type>Money</Type>
			<Plate>62SGH57</Plate>
			<Prod>Diesel</Prod>
			<CPass>false</CPass>
		</Device>
		
		
		
	</Devices>
</Configuration>